<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<title>Seguridad</title>
</head>
<body>
	<br>
	<br>
	<div class="card" style="margin:auto;width:50%;">
		<form class="card-body" th:action="@{/seguridad}" th:object="${robot}" method="post" >
			<div class="form-check">
				
				<input type="radio" class="form-check-input" th:field="*{soyRobot}" th:value="${false}">
				<label class="form-check-label">Marcar solo si usted es un robot</label>
				<span th:errors="*{soyRobot}" style="color:#E81505;"></span>
			</div>
			<br>
			<br>
			
			<input type="submit" class="btn btn-primary mb-2" value="Aceptar">
		</form><br>
		<a href="/producto" style="margin:2em;">Regresar</a>
	</div>
</body>
</html>